<html>
  <head>
    <title>isFukeGao?</title>
  </head>

  <body>
    <h1>Are you FukeGao?</h1>

    <form action='./upload', method='POST', enctype='multipart/form-data'>
      <input type='file', name='file'>
      <input type='submit', name='submit'>
      <input type='hidden', name='_method', value='POST'>
    </form>
    